*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
.ba {
  border-style: solid;
  border-width: 1px;
}

.b--black {
  border-color: #000;
}

.b--transparent {
  border-color: transparent;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.b {
  font-weight: bold;
}

.fw6 {
  font-weight: 600;
}

.input-reset {
  -webkit-appearance: none;
     -moz-appearance: none;
}

.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lh-copy {
  line-height: 1.5;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.w-100 {
  width: 100%;
}

.black-80 {
  color: rgba(0, 0, 0, .8);
}

.black {
  color: #000;
}

.bg-transparent {
  background-color: transparent;
}

.hover-white:hover {
  color: #fff;
}

.hover-white:focus {
  color: #fff;
}

.hover-bg-black:hover {
  background-color: #000;
}

.hover-bg-black:focus {
  background-color: #000;
}

.pa0 {
  padding: 0;
}

.pa2 {
  padding: .5rem;
}

.pa4 {
  padding: 2rem;
}

.pv2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.ph0 {
  padding-left: 0;
  padding-right: 0;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ma0 {
  margin: 0;
}

.mt3 {
  margin-top: 1rem;
}

.mv3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mh0 {
  margin-left: 0;
  margin-right: 0;
}

.f4 {
  font-size: 1.25rem;
}

.f6 {
  font-size: .875rem;
}

.measure {
  max-width: 30em;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

.dim:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .25s ease-out;
}

.grow:hover, .grow:focus {
  transform: scale(1.05);
}

.grow:active {
  transform: scale(.9);
}

.pointer:hover {
  cursor: pointer;
}







/* // Colors
$color-1: #2ecc71;
$color-2: #3498db;
$color-3: #f1c40f;
$color-4: #e74c3c; */







  .custom-radios .width-100{
    margin-top: 15px;
    position: relative;
    width:100%;
    float:left;

    padding-left: 40px;
  }

  .custom-radios input[type="radio"] {
    visibility: hidden;
    width: 100%;
    float: left;
    position: absolute;
    left: 0;
    right: 0px;
    cursor: pointer;
    height: 100%;
    display: none;
  }

  .custom-radios input[type="radio"] + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;}

      .custom-radios input[type="radio"] + label span {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 25px;
        margin-right: 15px;
      }
      .custom-radios input[type="radio"] + label span  img {
          opacity: 0;
          transition: all .3s ease;
        }




    .custom-radios .input_bg + label span {
      background-color: #fff;
    }




    .custom-radios .input_bg:checked + label span {
      background-color: #2ecc71;
      color: #fff;
    }
    .custom-radios input[type="radio"]:checked + label span img {
      opacity: 1;
    }

     .submitBtn{

      float: left;
      width: 50%;
      margin: 20px auto;

    }

    .popupWrapper{
      display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    margin: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    background-color: #00000070;
    }
    .popupInnerWrapper{
      width: 30%;
      height: 300px;
      background-color: #fff;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }

    .popupInnerWrapper button{
      margin-top: 14px;
      width: 100px;
      height: 30px;

    }
