<div style="text-align:center">
  <h1>
    Welcome to DemoQuiz!
  </h1>
</div>

<main class="pa4 black-80">
  <form class="measure center">
      <div class="custom-radios">
        <div>
          <label class="f4 fw6 ph0 mh0">Q.{{currentQues.q_num}} : </label>
          <span class="mt3 f4 fw6 ph0 mh0">{{currentQues.q_text}}</span>
        </div>
        <div class="width-100">
          <input class="input_bg" type="radio" [(ngModel)]="response" id="color-1" name="color" value="a">
          <label class="click-full" for="color-1"
            style="   width: 100%;    left: 0;   right: 0;   position: absolute;   left: 0;  margin-bottom: 10px; ">
            <label for="color-1">
              <span>
                A
              </span>
            </label>
          </label>
          <span style=" line-height: 26px;">{{currentQues.opt_a}}</span>
        </div>

        <div class="width-100" style="position: relative;">
          <input class="input_bg" type="radio" [(ngModel)]="response" id="color-2" name="color" value="b">
          <label class="click-full" for="color-2"
            style="   width: 100%;    left: 0;   right: 0;   position: absolute;   left: 0;  margin-bottom: 10px; ">
            <label for="color-2">
              <span>
                B
              </span>
            </label>
          </label>
          <span style=" line-height: 26px;">{{currentQues.opt_b}}</span>
        </div>

        <div class="width-100">
          <input class="input_bg" type="radio" [(ngModel)]="response" id="color-3" name="color" value="c">
          <label class="click-full" for="color-3"
            style="   width: 100%;    left: 0;   right: 0;   position: absolute;   left: 0;  margin-bottom: 10px; ">
            <label for="color-3">
              <span>
                C
              </span>
            </label>
          </label>
          <span style=" line-height: 26px;">{{currentQues.opt_c}}</span>
        </div>

        <div class="width-100 last-width-100">
          <input class="input_bg" type="radio" [(ngModel)]="response" id="color-4" name="color" value="d">
          <label class="click-full" for="color-4"
            style="   width: 100%;    left: 0;   right: 0;   position: absolute;   left: 0;  margin-bottom: 10px; ">
            <label for="color-4">
              <span>
                D
              </span>
            </label>
          </label>
          <span style=" line-height: 26px;">{{currentQues.opt_d}}</span>
        </div>
      </div>
    <div *ngIf="currentQues.q_num < quizQuestions.length" class="submitBtn" (click)="saveNext()">
      <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="button"
        value="Save & Next">
    </div>
    <div *ngIf="currentQues.q_num == quizQuestions.length" class="submitBtn" (click)="submitQuiz()" style="text-align: left">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="button"
          value="Save & Submit">
    </div>
    <div *ngIf="currentQues.q_num > 1" class="submitBtn" (click)="goToPrevious()" style="text-align: right;">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="button"
          value="Back">
    </div>
    <div class="submitBtn" (click)="resetQuiz()" style="text-align: right;width:100%;">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="button"
          value="Reset">
    </div>

  </form>
</main>

<div class="popupWrapper" *ngIf="isTestReport">
  <div class="popupInnerWrapper">
  <div>Correct Answers : {{correctAns}}</div>
  <div>Wrong Answers : {{wrongAns}}</div>
  <button class="submitBtn" (click)="resetQuiz()">Okay</button>
</div>
</div>
